$color-promo-1: rgb(173, 99, 161);
$color-promo-2: darkkhaki;
$color-promo-3: darksalmon;
$color-promo: black;

.promo-1 {
  background-color: $color-promo-1;
}

.promo-2 {
  background-color: $color-promo-2;
}

.promo-3 {
  background-color: $color-promo-3;
}
