$color-promo-1: rgb(209, 144, 198);
$color-promo-2: rgb(174, 206, 207);
$color-promo-3: rgb(196, 140, 188);
$color-promo: black;

.promo-1 {
  background-color: $color-promo-1;
}

.promo-2 {
  background-color: $color-promo-2;
}

.promo-3 {
  background-color: $color-promo-3;
}
