* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "global";
@import "main";
@import "nav";
@import "../bootstrap/scss/bootstrap";
@import "contact";
@import "promociones";

h3 {
  color: rgb(77, 77, 80);
  text-align: center;
  font-size: 25px;
}

/*galeria*/

.carousel-indicators [data-bs-target] {
  background-color: #eee7ec;
}
.carousel-control-next,
.carousel-control-prev {
  bottom: -1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(163, 85, 133);
}

.carousel-caption--color {
  background-color: rgb(96, 94, 170);
  bottom: -1rem;
}

.carousel-caption--color2 {
  background-color: coral;
  bottom: -1rem;
}

.carousel-caption--color3 {
  background-color: darkcyan;
  bottom: -1rem;
}

.imagen_carousel1 {
  background: url("imagenes/galeria/varias/1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100vw;
}

.imagen_carousel2 {
  background: url("imagenes/galeria/varias/2.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100vw;
}

.imagen_carousel3 {
  background: url("imagenes/galeria/varias/4.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100vw;
}

#galeria img {
  width: 100%;
  height: 350px;
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img:hover {
  border: 5px solid blanchedalmond;
}

/*servicios*/

.servicios-frase {
  font-size: 25px;
  background-color: rgb(17, 17, 17);
}

.servicios-frase--estado {
  font-size: 32px;
  border-radius: 10px;
  background-color: rgb(14, 13, 13);
}

div.servicios-imagen-fondo {
  background-image: url("../imagenes/galeria/index/servicios.jpg");
  height: 80vh;
  background-position: center;
  background-size: cover;
}

.servicios-esculpidas {
  font-size: 18px;
  color: rgb(236, 247, 247);
  background-color: rgb(173, 200, 223);
}

.servicios-esculpidas--color {
  background-color: rgb(235, 172, 203);
}
.servicios-semi {
  font-size: 18px;
  color: rgb(236, 247, 247);
  background-color: rgb(173, 139, 172);
}

.servicios-press-on {
  font-size: 18px;
  color: rgb(236, 247, 247);
  background-color: rgb(235, 172, 203);
}

.img-thumbnail {
  max-width: 30%;
}

.btn {
  background-color: blanchedalmond;
}

.btn-success {
  background-color: rgb(185, 103, 141);
}
